# Dépendances
node_modules/

# On ignore le contenu de lib mais pas le dossier lui-même
lib/**/*
# On force Git à suivre le sous-module
!lib/openzeppelin-contracts

# Next.js build
.next/
out/
build/

# Environnement & Sécurité
.env*

# Foundry / Hardhat
cache/
artifacts/
broadcast/
deploy.log

ROUTES.md
antigravityrules    
*.log
*.sol
.cursorignore